*{
    margin:2;
    background-color:rgb(152, 90, 90);

}
/*position static relative absolute fixed sticky
z-index*/
.item{
    width:200px;
    height:200px;
    margin:20px 20px;
    background-color: rgb(82, 177, 205);
position:relative;
}
.item div{
    width:150px;
    height:150px;
    background-color: brown;
   position: relative;
   top:50px;
}
.item2{
    width:200px;
    height:200px;
    margin:20px 20px;
    background-color: rgb(67, 13, 52);
position:relative;
top: 100px;
}

.item2 div{
    width:6rem;
    height:6rem;
    margin:20px 20px;
    background-color: rgb(215, 210, 214);
position:absolute;
top: 10px;
left:10px;
}
.item3{
    width:100px;
    height: 50px;
    margin:120px;
    background-color: rgb(215, 207, 50);
 position: relative;
} 
.item3 div{
    width: 80px;
    height: 25px;
    background-color: rgb(168, 23, 154);
position: absolute;
right:20px;

} 
.item5{
    width:100px;
    height: 90px;
    margin: 2cm 20px;
    background-color: rgb(25, 15, 2);
    position: relative;
}
.item5 >div{
    width: 80px;
    height: 80px;
    background-color: rgb(243, 231, 228);
position: absolute;
top:20px;

}
.item6{
    width:50px;
    height: 50px;
   
    background-color: rgb(215, 207, 50);
 position: relative;

}
.item6 >div{
    width: 20px;
    height: 20px;
    background-color: rgb(243, 231, 228);
position: absolute;
left:20px;
}
.container{
    background-color: antiquewhite;
    padding:30px;
    margin:20px;
    width:40px;
    height: 10px;
}